.contact {
  background-image: url(../img/main_bg.jpg);
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
}
.contact-box {
  margin-top: 10rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  background-color: $red;
  width: 30%;
  margin-inline: auto;
  border-radius: 1.5rem;
  color: $white;
  font-size: 3rem;
  text-align: center;
  gap: 1rem;
  @include responsive(bpl) {
    width: 50%;
  }
  @include responsive(tablet-p) {
    width: 70%;
  }
  @include responsive(phone) {
    width: 90%;
  }
  i {
    font-size: 6rem;
  }
  hr {
    width: 100%;
    color: $white;
  }
}
