// styling de l'image de l'hero

.header__bg-img {
  height: 102vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)),
    url(../img/banner1.jpg);
  background-size: cover;
  background-position: center;

  // cette partie sert a mettre en bordure la petite image pour l'effet bombé
  border-bottom: 1.5rem solid transparent;
  border-image: url(../img/bottom_decoration_img.png) repeat;
  border-image-slice: 30;
}

// styling de la barre de navigation
.header__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  gap: 4rem;

  .header__nav-box {
    display: flex;

    font-size: 1.6rem;
    border-top: 1px solid $white;
    border-bottom: 1px solid $white;

    a:link,
    a:visited {
      display: inline-block;
      text-decoration: none;
      text-transform: uppercase;
      color: $white;
      padding: 1.6rem 3.4rem;
      transition: all 0.3s;
      background-color: none;

      &:hover {
        background-color: $red-hover;
      }

      &:active,
      &:focus {
        background-color: $red;
      }
    }
  }
}

// styling du hero contenant le titre, les boutons d'appel a l'acte, ainsi que les boutons du carousel

.hero {
  padding-top: 7.5%;
  display: flex;
  flex-direction: column;
  color: $white;
  align-items: center;
  text-align: center;
  justify-content: center;

  h1 {
    font-family: "Courgette", Brush Script MT;
    font-size: 3rem;
    margin-inline: auto;
    span {
      display: block;
    }
    .heading__primary-occasion {
      font-size: 6rem;
      text-transform: uppercase;
    }

    .heading__primary-taste {
      font-size: 6rem;
      text-transform: uppercase;
      color: $red;
    }

    .heading__primary-makes {
      font-size: 6rem;
    }

    .heading__primary-remember {
      font-size: 6rem;
    }
  }
}

// styling des buttons du hero

.hero__btn-box {
  margin-top: 3rem;
  display: flex;
  gap: 2rem;

  button {
    padding: 1rem 2rem;
    border: none;
    border-radius: 10rem;

    .hero__btn-link:visited,
    .hero__btn-link:link {
      text-decoration: none;
      text-transform: uppercase;
      font-size: 1.6rem;
    }

    .hero__btn-link-purchase:link,
    .hero__btn-link-purchase:visited {
      color: black;
    }

    .hero__btn-link-more:link,
    .hero__btn-link-more:visited {
      color: $white;
    }

    &:last-child {
      background-color: $red;
      transition: 0.2s;
    }

    &:last-child:hover {
      background-color: $red-hover;
    }
  }
}

//changement des indicateurs du carousel pour qu'ils soient rond.
.carousel-indicators [data-bs-target] {
  width: 1rem;
  /* change width */
  height: 1rem;
  /* change height */
  border-radius: 50%; // /* add border-radius */
}
