// centrage du text
.info__about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 2rem;
  p {
    font-size: 1.6rem;
    width: 40%;
    padding: 6.4rem;
  }
}
