// centrage du text
.info__about {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  gap: 2rem;

  p {
    @include responsive(bpl) {
      width: 70%;
    }

    @include responsive(tablet) {
      padding: 3rem;
      width: 85%;
    }

    @include responsive(phone) {
      width: 100%;
    }

    font-size: 1.6rem;
    width: 55%;
    padding: 6.4rem;
  }
}

.padd {
  display: flex;
  margin-bottom: 5rem;
  justify-content: center;
}