.menu-container {
  display: grid;
  grid-template-columns: 1fr 6fr;
  gap: 1rem;
  padding-bottom: 8rem;
}

.menu-list {
  display: flex;
  flex-direction: column;
  font-size: 3rem;
  gap: 1rem;
  border-right: 1px solid $b-img;

  a {
    text-decoration: none;
    color: $black;
    font-family: "Courgette";
    padding-bottom: 1rem;
  }
}

.flex-el {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-transform: capitalize;
  border-bottom: 1px solid $b-img;
  i {
    font-size: 7rem;
    color: $b-img;
    padding: 1rem 0;
  }
}

.menu-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.grid-el {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  border-bottom: 1px solid $b-img;
  padding: 1rem;
  width: 90%;
  img {
    border-radius: 50%;
    border: 0.5rem solid $b-img;
  }
  h5 {
    color: $black;
  }
  .price {
    padding: 0.2rem 1.6rem;
    background-color: $b-img;
    color: $red;
    font-weight: 600;
  }
}
