.big__box {
  background-image: url(../img/main_bg.jpg);
  padding: 3rem 0;

  .big__box-container {
    width: 90%;
    margin-inline: auto;
    position: relative;
    background-color: $white;
    border: 1px solid $b-grey;
    @include responsive(bpl) {
      width: 95%;
    }
    @include responsive(tablet-p) {
      width: 98%;
    }

    @include responsive(phone) {
      width: 100%;
    }
    .img-corner-box {
      position: absolute;
    }
    .br {
      bottom: 0;
      right: 0;
    }
    .bl {
      bottom: 0;
      left: 0;
    }
    .tr {
      top: 0;
      right: 0;
    }
    .tl {
      top: 0;
      left: 0;
    }
  }
}
