// the sticky tag that will be added by the navbar

.stic {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 10rem;
  padding: 2rem 0;
  background-color: hsla(0, 0%, 6%, 0.932);
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
  z-index: 9000;
}

.big__box-container .stic {
  margin-top: 10rem;
}

// ont ajout rem = 100px de margin top a la section hero car quand la barre de navigation passe en sticky elle est sortie du flow de la page.