// Styling of the secondary headings
.secondary__heading-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading__secondary {
  font-size: 3.4rem;
  font-family: "Courgette";

  //   this add the border bottom with the image

  .heading__secondary-red {
    text-transform: uppercase;
    color: $red;
    font-size: 5rem;
  }
}
