// Import des fonts courgette et robotto du Local
@font-face {
    font-family: 'Courgette';
    src: url('../fonts/Courgette/Courgette-Regular.ttf');
}

@font-face {
    font-family: 'Roboto';
    src: url('../fonts/Roboto/Roboto-Light.ttf');
}