// Setup des variables du projet

// Couleurs du projet

$red: hsl(353, 77%, 49%);
$red-hover: hsl(353, 77%, 39%);
$white: hsl(0, 0%, 100%);
$b-grey: hsl(0, 0%, 66%);
$b-grey-d: hsl(0, 0%, 33%);
$black: hsl(0, 0%, 0%);
$b-img: hsl(0, 2%, 88%);
